<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>Seaching Photo</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css"> 
  </head>


  <body>
    <header id="header" class="alt">
      <div class="inner">
        <h1 id="title">Photo</h1>
        <p>So many men, so many mind. made by <a href="http://instagram.com/aboutdain"> dain </a></p>
      </div>
  </header>

  <div id="wrapper">
    <section id="search" class="main">
       <h2>pose searching</h2>
       <form action='http://localhost:5000/result' method="post">
         몇명인가요? <br>
       <select name='number'>
         <option value="solo"> 1명 </option>
         <option value="two">2명</option>
         <option value="three">3명</option>
         <option value="group">4명 이상</option>
         <option value="">선택안함</option>
        </select>

        <h3>누구와 찍나요?</h3>
        <select name='concept'>
          <option value="friendship"> 친구 </option>
          <option value="couple"> 연인 </option>
          <option value="family"> 가족 </option>
          <option value="">선택안함</option>
        </select>

        <h3> 어디서 찍나요? </h3>
        <select name="place">
          <option value="city"> 도시 </option>
          <option value="house"> 집 </option>
          <option value="nature"> 자연 </option>
          <option value="">선택안함</option>
        </select>
        <input type="submit" value="포즈보기"/><br>
      </section>

      <footer id="footer">
        <ul class ="icons">
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-phone"><span class="label">Phone</span></a></li>
          <li><a href="#" class="icon fa-email"><span class="label">E-mail</span></a></li>
        </ul>

      </div>
  </body>
</html>
